* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

input ,button {
    margin: 20px;
    margin-right: 0px;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
}

.container {
    margin: 20px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.inner-div {
    width: 20px;
    height: 20px;
}

.entered {
    background-color: black;
}