* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.container {
    margin: auto;
    width: 700px;
    height: 700px;
    border: 1px solid black;

    display: flex;
}

.inner-div {
    flex: 1;
    background-color: red;
}