* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav {
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

input {
    padding: 16px;
    width: 80px;
    border-radius: 8px;
    margin: 20px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.15);
}