* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

input ,button {
    margin: 20px;
    margin-right: 0px;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
}

.container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.inner-div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}